<form action="/courses" method="post">
Name: <input type="text" name="name"> <br>
Description: <textarea name="description" cols="30" row="10"></textarea> <br>
<button type=submit> Add course</button>

</form>